/*Bestand voor Media Queries*/

@media only screen and (min-width: 650px){
	
	.information>div>h5{
		font-size: 18px;
	}
}

@media only screen and (min-width: 700px){
	
	.distanceTraveld{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.speedMeter{
		display: flex;
		margin-left: 70px;
		justify-content: space-between;
		align-items: flex-end;
	}

	.barFuel{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.containerBar1{
		margin-left: 154px;
	}

	.containerBar2{
		margin-left: 154px;
	}

	.water{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.food{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.container1{
		width: 65%;
	}

	.container2{
		width: 65%;
	}

	.information{
		width: 300px;
		height: 100px;
		margin-bottom: 3%;
	}

	.twee{
		margin-bottom: 10%;
	}

	.information>div>h5{
		font-size: 12px;
	}

	.hide{
		/*display: none;*/
	}

	.een{
		margin-right: 2%;
	}

	.vijf{
		margin-right: 2%;
		height: 188px;
	}
}

@media only screen and (min-width:  1000px){
	
	.mainContainer{
		display: grid;
		grid-template-columns: 50% 50%;

	}

	.distanceTraveld{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin: auto 0;
		width: 100%;
	}

	.logo{
		width: 50%;
	}

	.speedMeter{
		width: 100%;
		display: flex;
		display: block;
		text-align: center;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: initial;
	}

	.food{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-top: 60px;
	}

	.containerBar1{
		margin-left: 5%;
		margin-top: 100px;
	}

	.containerBar2{
		margin-left: 6%;
	}

	.twee{
		margin-bottom: 0%;
	}

	.container1{
		width: 100%;
	}

	.container2{
		width: 100%;
	}

	.vijf{
		margin: 0 auto;
		margin-top: 20px;
	}

	.een{
		margin: 0 auto;
	}

	#chart_div{
		margin: 0 auto;
	}
}